$clr_primary: #9356DC;
$clr_secondary: #ff79DA;
$clr_tertiary: #99E2D0;
$clr_bg_logo: #F5F5F5;
$clr_header_arrow: #0000;
$clr_font_btn: white;
$clr_bg_3: #454545;
$clr_font_case_new: #00a87e;
$clr_step_btn:#f3ebfe;
$clr_home_search: #ececec;
$clr_header_shadow: #cdcdcd;
$clr_white: white;
$clr_black: black;