
.header{
    width: 100%;
    margin: 10px  0 10px 0;
    
    @include tablet-only{
        height: 70px;
    }

    &__logo{
        display: flex;
        justify-content: center;
        align-content: center;

        & > img{
            width: 50%;

            @include tablet-only{
                width: 40%;
            }
            @include desktop-only{
                width: 23%;
            }
        }
    }

    &__arrow > a{
        position: absolute;
        margin: 2%;
        font-size: 25px;
        color: $clr_black;

        @include tablet-only{
        font-size: 35px;  
        }
        @include desktop-only{
            margin: 1%;
        }
    }  
}


