.loader__logo{
    
  & > img {
   width: 60%;
   position: absolute;
   top: 75px;
   left: 17%;
  
    @include tablet-only{
      width: 50%;
      position: absolute;
      top: 90px;
      left: 23%;
    }
   @include desktop-only{
      width: 35%;
      position: absolute;
      top: 75px;
      left: 30%;
   }
  }     
} 

 .loader {
    position: absolute;
    top: 200px;
    left: 35%;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    border: 5px solid;
    border-color: $clr_primary $clr_primary transparent transparent;
    box-sizing: border-box;
    animation: rotation 2.5s linear infinite;
  
  @include tablet-only{
    position: absolute;
    top: 220px;
    left: 40%;
  }
  @include desktop-only{
    position: absolute;
    top: 250px;
    left: 44%;
  }
   
}

.loader::after,
.loader::before {
  content: "";  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent $clr_secondary $clr_secondary;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 1.5s linear infinite;
  transform-origin: center ;
}

.loader::before {
  width: 30px;
  height: 30px;
  border-color: $clr_tertiary $clr_tertiary transparent transparent;
  animation: rotation 2.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);

  }
  100% {
    transform: rotate(360deg);

  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
   
  }
}
    
       