.restaurant__card, .restaurant__menu__content{

    .fa-solid{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient($clr_primary, $clr_secondary);
    transform:translate(0);
    transition: all 1s;
    opacity: 0;  
    }   
    &:hover .fa-solid{
        transform: translate(1);
        opacity: 1;
    }

    .fa-light{
        transform: translate(1);
        transition: all 1s;
        opacity: 1;
    }  
    &:hover .fa-light{
    transform: translate(0);
    opacity: 0;
    } 
}