@media screen and (max-width: 991px) {
  body{
    margin: 0px;
  }
  main{
   
  }
   /*--NAV / UL--*/
  #logo{
     margin: 10px 150px 0px 20px;
   }
 
  /*--BARRE DE RECHERCHE--*/
  #location{
    margin: 40px 0 30px 15px;
  }
  #search{
    margin-left: 0;
    border: 1px solid var(--main2) ;
  }
  .search_icon{
    width: 30px;
  }
  .phone_submit{
       display: none;
       
   }
  
   /*--BARRE DES FILTRES--*/
  .filters{
   flex-direction: column; 
   align-items: flex-start;
  }
  .filters-container-1{
    padding-left: 20px;
  }
  .filters-container-2{
    padding-left: 60px;
  }
  .filters-container-3{
    padding-left: 100px;
  }
  .filters-container-4{
    padding-left: 140px;
  }
 /*--BOX CARD & CARS ASIDE--*/
#box_card_box_card_aside{
  flex-direction: column-reverse;
}
/*--BOX CARDS--*/
.box_card{
 width: 100%;
 height: 95%;
 display: flex;
 
}

/*--BOX CARD ASIDE--*/
.box_card_aside{
  width: 100%;
  background-color: var(--main3);
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 40px
}
.fa-arrow-trend-up{
  background-color: var(--main3);
  padding-top: 11px;
}

.box_card_aside > h2{
  margin-bottom: 5px;
}
.card_aside{ 
 width: 95%;
 border: 2px solid var(--secondary);
 box-shadow: 2px 2px 2px var(--secondary);
}

.img_aside{
   width: 70%;
   height: 100%;
   padding: 0;
}
.aside_body{
  left: 75%;
}
.aside_body > p{
   margin: 5px 0 45px 2px;
}
.card_body > p{
  margin-top: 10px;
}
.notation_bar_aside{
padding-top: 0px;
}

/*--FOOTER--*/
.footer > ul{
  padding: 0 45px 0 20px;
  margin:20px 0 20px 10px;
  
}
}